html, body {
    width: 100%;
  }
  
  .panel {
    padding: 5px;
    max-width: 93%;
    margin: auto;
    overflow: auto;
  }

  #header-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

#cookie-list {
    table-layout: fixed;
}

#cookie-list td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  